.form__save-button {
    font-family: 'Inter', 'Arial', sans-serif;
    border: none;
    width: 358px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    transition: .5s;
}

.form__save-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 480px) {
    .form__save-button {
        max-width: 200px;
    }
}