.card__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    max-width: 210px;
    font-family: "Inter", Arial, sans-serif;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}